# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.loe
*.fdb_latexmk
*.synctex.gz
*.run.xml
*-blx.bib
*.nav
*.snm
*.vrb
*.glg
*.glo
*.gls
*.ist
*.brf
*.idx
*.ilg
*.ind
*.loa
*.loq
*.xdv
main.bbl-SAVE-ERROR
*.xmpi

# Output PDF (artefatos de build local)
*.pdf
exemplo.bib
mudancas.txt

# Editor
.vscode/
slides/
books/
